
{% extends 'plantilla.html' %}

{% block body %}

<h1>INGRESAR PACIENTE</h1>
<form action="/GUARDAR_PACIENTES" method="POST">
    <label>Nombre</label>
    <input type="text" name="txtNombre" placeholder="Escribe el nombre" required>
    <br>
    <label>Apellido Paterno</label>
    <input type="text" name="txtAp" placeholder="Escribe el apellido paterno" required>
    <br>
    <label>Apellido Materno</label>
    <input type="text" name="txtAm" placeholder="Escribe el Apellido Materno" required>
    <br>
    <label>Fecha de nacimiento</label>
    <input type="date" name="txtFechanacimiento" placeholder="Escribe la fecha de nacimiento" required>
    <br>
    <label>Alergias</label>
    <input type="text" name="txtAlergias" placeholder="Escribe las alergias que tiene (si las tiene)" value="N/A" required>
    <br>
    <label>Antecedentes</label>
    <input type="text" name="txtAntecedentes" placeholder="Escribe los antecedentes" value="N/A" required>
    <br>
    <label>Enfermedad</label>
    <select name="txtMedico" required>
        {% for enfermedadID in enfermedades %}
            <option>{{enfermedadID.0}}</option>
        {% endfor %}
    </select>
    <br>
    {% if rolMedico==2 %}
    <label>Medico</label>
    <select name="txtMedico" required>
        {% for med in medicosid %}
            <option>{{med.0}}</option>
        {% endfor %}
    </select>
    <br>
    {% endif %}    
    <button type="submit">Guardar</button>
</form>

{% endblock %}