
{% extends 'plantilla.html' %}

{% block body %}

<h1>PACIENTES</h1>  
{% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
        {% for msj in mensajes %}
            <h5>{{msj}}</h5>
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="/PACIENTES_GUARDAR">Ingresar Paciente</a>

    <table>
        <thead>
            <tr>
                <td>Nombre del paciente</td>
                <td>Medico que atiende</td>
                <td>Fecha de Nacimiento</td>
                <td>Alergias</td>
                <td>Antecedentes</td>
                <td>Enfermedad</td>
            </tr>
        </thead>
        <tbody>
          {% for pac in listPacientes %}
                <tr>
                    <td> {{pac.1}} {{pac.2}} {{pac.3}} </td>
                    <td> {{pac.4}} {{pac.5}} {{pac.6}}</td>
                    <td> {{pac.7}} </td>
                    <td> {{pac.8}} </td>
                    <td> {{pac.9}} </td>
                    <td> {{pac.10}} </td>

                    <td>

                        {% if rolMedico==1 %}
                            <a href=/PACIENTES_EDITAR/{{pac.0}}>Editar</a>
                        {% endif %}

                        {% if rolMedico==2 %}
                            <a href=/PACIENTES_EDITAR/{{pac.0}}>Editar</a>
                            <a href=/PACIENTES_BORRAR/{{pac.0}}>Borrar</a>
                        {% endif %}
    
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}