
{% extends 'plantilla.html' %}

{% block body %}

<h1>EXPLORACIONES</h1>  
{% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
        {% for msj in mensajes %}
            <h5>{{msj}}</h5>
        {% endfor %}
    {% endif %}
{% endwith %}

  <a href="/EXPLORACIONES_GUARDAR">Ingresar Exploración</a>

    <table>
        <thead>
            <tr>
                <td>Nombre del paciente</td>
                <td>Edad</td>
                <td>Fecha</td>
                <td>Peso(KG)</td>
                <td>Altura(M)</td>
                <td>Temperatura(C°)</td>
                <td>Latidos(Veces por minuto)</td>
                <td>Glucosa(mg/dl)</td>
                <td>Oxigeno(%)</td>
            </tr>
        </thead>
        <tbody>
          {% for exp in listExploraciones %}
                <tr>
                    <td> {{exp.0}} {{exp.1}} {{exp.2}} </td>
                    <td> {{exp.3}} </td>
                    <td> {{exp.4}} </td>
                    <td> {{exp.5}} </td>
                    <td> {{exp.6}} </td>
                    <td> {{exp.7}} </td>
                    <td> {{exp.8}} </td>
                    <td> {{exp.9}} </td>
                    <td> {{exp.10}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


  {% endblock %}
